*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties



# 排除金鑰檔案
*.jks
*.keystore

# 排除打包產出的中繼資料
output-metadata.json

# 排除混淆對照表
app/build/outputs/mapping/

# release file
app/release
